<!doctype html>
{% extends 'home/navbar.html' %}
{% load static %}
{% block content %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'css/global.css' %}"
/>
     <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
</head>

   <div class="apropos" >
        <h2 class="apropos-h1">PRESENTATION DE CAADPD</h2>
         <h4 class="apropos-h4">HISTORIQUE</h4>
        <p>Depuis l'année 1995, lors de son séjour à Mutongo, dans le Groupement d'Ihana, Secteur Wanianga, Territoire de Walikale, Province du Nord-Kivu en République Démocratique du Congo, M. KISSA BIHAMBA Jean Pierre a conçu un projet visant à aider les personnes vulnérables . Tout a commencé lorsque la situation sécuritaire et politique de la RDC a été déséquilibrée dans les années qui ont suivi, puis il y a eu l'éruption volcanique de 2002. Ces problèmes ont entraîné le déplacement massif de la population vers différents endroits en quête de sécurité, notamment dans les différentes villes. C'est pourquoi, par la grâce divine, il a eu un moment de réflexion dont la finalité était d'initier une activité pouvant venir en aide à la population vulnérable, surtout dans les extrémités de la ville de Goma (Est de la RDC).
            Pour y parvenir, il fallait initier une association pouvant permettre d'intégrer plusieurs activités. C'est ainsi que le Club des Amis pour l'Assistance et le Développement des Personnes Défavorisées (CAADPD) a été créé en août 2009. Son objectif découle de sa nomination, à savoir:
            <ul class="ul">
                <li class="li"> Ouvrir un centre médical pour les défavorisés ;</li>
                <li class="li"> Créer une église pour accompagner les défavorisés ;</li>
                <li class="li"> Créer une école pour l'alphabétisation des personnes défavorisées ;</li>
                <li class="li">Accompagner globalement les PVV, VVS, etc. ;</li>
                <li class="li">Créer un centre nutritionnel.</li>
            </ul>
            
        </p>

        <h4>LA VISION </h4>
        <p>La vision de CAADPD est de promouvoir la sante des indigents par des activités curatives, préventives et promotionnelles.sa vision est celle d’un monde sens maladie, ou les femmes est les enfants de la région des grands lacs en général et ceux de la RDC en particulier peuvent jouir de leurs droits avoir accès aux soins de santé, a l’éducation, aux opportunités socio-économique et culturelles, et sans oublier l’égalité des soins 
        </p> 
        <h4>OBJECTIF</h4>
        <p>L’association a pour objectif global, d’assister et contribuer à la promotion du développement des personnes défavorisées à l’occurrence : les orphelins, les veuves, les femmes et filles victimes de violences sexuelles, les filles mères, les enfants abandonnés, les personnes vivant avec le VIH, et l’accompagnement des personnes privées de leurs droits sociaux.
        </p> 
        <h4>LA MISSION DU Centre Hospitalier CAADPD </h4>
        <ul class="ul">
            <li class="li">
                Assurer un encadrement socio-économique et psychologique des Personnes Défavorisées pour une meilleure réintégration ;
            </li>  
            <li class="li"> 
                Contribuer à la défense des droits sociaux économico culturels des personnes défavorisées ;
            </li>  
            <li class="li">
                Initier les activités génératrices de revenue pour le relèvement des personnes défavorisées et l’auto financement de l’Association ;
            </li>  
            <li class="li">
                Assurer une prise en charge médicale, psycho sociale, judiciaire, socio-économique des personnes entre autres, les personnes vivant avec le VIH/Sida, les femmes et filles victimes des violences sexuelles, les orphelins et autres en nécessité ;
            </li>  
            <li class="li">
                Sensibiliser, conscientiser et mobiliser les populations sur la culture de la paix la cohabitation pacifique entre les communautés, les individus et les familles ;
            </li>  
            <li class="li">
                Contribuer à la promotion de l’environnement en conservant les écosystèmes et en luttant contre les maladies meurtrières du monde telles que les IST, le SIDA ;
            </li>  
            <li class="li">
                Lutter contre la délinquance juvénile et autres antivaleurs qui dépravent le moral des enfants (le film pornographique, …) ;
            </li>  
            <li class="li">
                Réhabiliter et reconstruire les infrastructures sociaux de base dans les milieux où restent les défavorisés.
            </li>  
            
            </ul>    
        <h4>LA CIBLE DU CENTRE HOSPITALIER CAADPD</h4>
        <ul class="ul">
            <li class="li">Les femmes enceintes à faible revenu.</li>
            <li class="li">Les femmes victimes des violences sexuelles. </li>
            <li class="li">Les veuves.</li>
            <li class="li">Personnes vivant avec handicap</li>
            <li class="li">Petites filles déscolarisées et non scolariser </li>
        </ul>
    
    </div>
   
</body>
</html>
{% endblock content %}