<!doctype html>

{% extends 'home/navbar.html' %}
{% load static %}
{% block content %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>

    <title>Document</title>
    <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'css/global.css' %}"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}">
</head>
<body>
    <div class="homapage">
        <div class="homeContent">
            <div class="hc_left">
                <div class="under_hc_left">
                    <h1> CAADPD</h1>
                    <h6>Club des amis pour l'assistance et le développement des personnes défavorisées</h6>

                    <p class="home_experience"> <strong>Avec 15 ans d'experience</strong> , CAADPD est une association à but non lucratif qui aide les femmes enceintes de la région du Nord Kivu à
                        accéder à des soins de santé de qualité. Notre objectif est de réduire
                        la mortalité maternelle et infantile en offrant des services de santé adaptés aux besoins des femmes enceintes.</p>
                </div>
                <div class="home_button">
                    <a href="#" class="button1">Rejoignez-nous</a>
                    <a href="#" class="button2">Faire un don</a>
                </div>

            </div>
        </div>
    </div>
    <div class="services" id="services">
        <h1>Nos services</h1>
        <div class="service-content">
            <div>
                <div class="left-service">
                    <div class="service-img">
                        <img src="{% static 'images/service1.jpg' %}" />
                    </div>
                </div>
                <div class="right-service">
                    <h2>Services 1</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    <p>
                </div>
            </div>
            <div class="second-service">
                <div class="left-service">
                    <div class="service-img">
                        <img src="{% static 'images/service2.jpg' %}" />
                    </div>
                </div>
                <div class="right-service">
                    <h2>Services 2</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    <p>
                </div>
            </div>
            <div>
                <div class="left-service">
                    <div class="service-img">
                        <img src="{% static 'images/service3.jpg' %}" />
                    </div>
                </div>
                <div class="right-service">
                    <h2>Services 3</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                       
                </div>
            </div>
        </div>
    </div>
    <div class="accomplissement">
        <h1>Nos accomplissement</h1>
        <div class="accomplissement-content">
            <div>
                <h4 class="title">First accomplissement</h4>
                <p id="theNumber1">20000</p>
            </div>
            <div>
                <h4 class="title">First accomplissement</h4>
                <p id="theNumber2">22000</p>
            </div>
            <div>
                <h4 class="title">First accomplissement</h4>
                <p id="theNumber3">20000</p>
            </div>
            <div>
                <h4 class="title">First accomplissement</h4>
                <p id="theNumber4">20000</p>
            </div>
        </div>
    </div>
    <div class="contact" id="contact">
        <h1>Contactez-nous</h1>
        <div class="contact-content">
            <div class="left-side-contact">
                <div>
                    <h3>Adresse</h3>
                    <div>Mobile</div>
                </div>
                <div>
                    <h3>Mobile</h3>
                    <div>+23496545678</div>
                </div>
                <div>
                    <h3>Email</h3>
                    <div>caadpd@gmail.com</div>
                </div>
                <div class="social-icons">
                    <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a>
                    <a href="https://twitter.com/?lang=en" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
                  </div>
                
            </div>
            <div class="right-side-contact">
                <form id="contact-form">
                    <label for="name">Votre nom:</label>
                    <input type="text" id="name" name="name" placeholder="Your Name" required>
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" placeholder="your_email@example.com" required>
                    <label for="message">Message:</label>
                    <textarea id="message" name="message" rows="5" placeholder="Write your message here..." required></textarea>
                    <button type="submit">Envoyer</button>
                  </form>
            </div>
        </div>

    </div>
    <footer>
        
       <h1>CAADPD</h1>
       <div>socialize with CAADPD</div>
       <div class="socials">
            <div>Facebook</div>
            <div>Instagram</div>
            <div>Twitter</div>
            <div>Youtube</div>
       </div>
       <div class="footer-nav-btn">
        
                <a href="{% url 'home' %}" class="nav-item nav-link active"
                >Accueil</a
                >
       
                <a href="#" class="nav-item nav-link active"
                >Services</a
                >
       
                <a href="#" class="nav-item nav-link active"
                >A propos</a
                >
          
                <a href="#" class="nav-item nav-link active"
                >Contact</a
                >
         
       </div>
       <p>© 2024 CAADPD | All right reserved</P>
    </footer>
    <script>
        const paragraphs = document.querySelectorAll("p[id^='theNumber']"); 

        function animateNumber(paragraphElement) {
        const targetNumber = parseInt(paragraphElement.textContent, 10); 

        let currentNumber = 0;
        const animationDuration = 100;

        const interval = setInterval(() => {
            currentNumber += Math.ceil((targetNumber - currentNumber) / (animationDuration / 10));
            paragraphElement.textContent = currentNumber;

            if (currentNumber >= targetNumber) {
            clearInterval(interval);
            }
        }, 10);
        }

        const options = {
        root: null,
        threshold: 0.5,
        };

        const observer = new IntersectionObserver(entries => {
        entries.forEach(entry => {
            if (entry.isIntersecting) {
            animateNumber(entry.target); 
            observer.unobserve(entry.target);
            }
        });
        });

        paragraphs.forEach(paragraph => observer.observe(paragraph)); 

    </script>     
    
</body>
</html>
{% endblock content %}