<!doctype html>
{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'css/global.css' %}"
/>
    <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'css/navbar.css' %}"
    />
    <script type="text/javascript">
        var user = '{{request.user}}'

        function getToken(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getToken('csrftoken')

        function getCookie(name) {
            // Split cookie string and get all individual name=value pairs in an array
            var cookieArr = document.cookie.split(";");

            // Loop through the array elements
            for(var i = 0; i < cookieArr.length; i++) {
                var cookiePair = cookieArr[i].split("=");

                /* Removing whitespace at the beginning of the cookie name
                and compare it with the given string */
                if(name == cookiePair[0].trim()) {
                    // Decode the cookie value and return
                    return decodeURIComponent(cookiePair[1]);
                }
            }

            // Return null if not found
            return null;
        }

</script>
</head>
<body>
    <div class="nav-container">
        <a href="{% url 'home' %}" class="logo">
            <img src="{% static 'images/logo.jpg' %}" alt="CAADPD" /> CAADPD
        </a>
        <div class="nav-btn">
            <div class="nav-links">
                <ul class="nav-ul">
                    <li class="nav-link">
                        <a href="{% url 'home' %}" class="nav-item nav-link active"
                        >Accueil</a
                        >
                    </li>
                    <li class="nav-link">
                        <a href="/#services" class="nav-item nav-link active"
                        >Services</a
                        >
                    </li>
                    <li class="nav-link">
                        <a href="{% url 'apropos' %}" class="nav-item nav-link active"
                        >A propos</a
                        >
                    </li>

                    <li class="nav-link">
                        <a href="/#contact" class="nav-item nav-link active"
                        >Contact</a
                        >
                    </li>
                </ul>
            </div>
            <div class="btn-don">
                <button>Faire un don</button>
            </div>
        </div>
       
    </div>
    <div class="contents">
        {% block content %}

        {% endblock %}
    </div>
    <script>
        const autoHeightDiv = document.querySelector(".nav-container"); // Replace with actual ID
        const targetDiv = document.querySelector(".contents"); // Replace with actual ID
        
        function setMarginTop() {
            const actualHeight = autoHeightDiv.offsetHeight; // Get actual height after content load
            console.log(actualHeight)
            if (actualHeight) { // Check if height is retrieved successfully
                targetDiv.style.marginTop = `${actualHeight}px`; // Set margin-top with retrieved height
            } else {
                console.error("Failed to retrieve actual height. Consider alternative approach.");
            }
        }
        setMarginTop();
    </script> 
</body>
</html>