*{
    text-decoration: none;
    scroll-behavior: smooth;
}
/* --primary-color: #4285F4;
--secondary-color: #EBF5FF;
--accent-color: #9CCC65; 
   --accent-color: #b1d38b;*/


:root{
    --primary-color: #4285F4;
    --secondary-color: #EBF5FF;
    --accent-color: #498900;
     --nav-height: 80px;
}
button{
    border: none;
    width: 6rem;
    height: 2.5rem;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
}
button:hover{
    color: white;
    background-color: var(--accent-color)
}