*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}


.nav-container{
    display: flex;
    width: 100%;
    height: var(--nav-height);
    background-color: white;
    justify-content: space-between;
}
.logo{
    padding: 10px 30px;
    display: flex;
    align-items: center;
    font-size: 40px;
    font-weight: 700;
    color: var(--accent-color);
}
.logo>img{
    width: 70px;
    object-fit: cover;
}
.nav-btn{
    display: flex;
    width: 60%;
   
}
.nav-ul, .btn-don{
    display: flex;
    height: var(--nav-height);
    justify-content: space-around;
    align-items: center;
}
.nav-links{
    width: 80%;
    height: var(--nav-height);
    display: flex;
}
.nav-ul{
   
    width: 100%;
    padding: 0 10px;
    justify-content: space-between;

}
.btn-don{
    width: 20%;
}

ul li, li>a {
    font-size: 17px;
    font-weight: 600;
    list-style: none;
    color: var(--accent-color);
}
li>a:hover {
    color: #618d2e;;
}
.hamburger-menu-container{
    display: none;
}

@media (max-width: 920px) { 
    .nav-container{
        flex-direction: column;
        height: auto;
    }
    .nav-btn{
        width:99%;   
    }
    .nav-ul{
        gap: 5px;
    }
    ul li, li>a {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        font-weight: 600;
        width: 95%;
        height: 35px;
        background-color: var(--accent-color);
        color: white;
    }
    .btn-don{
        font-size: 10px;
    }
  
}